<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haczów - biblioteka</title>
    <link rel="stylesheet" href="style2.css">
    <style>
      body {
        overflow-y: hidden;
	      margin: 0; 
	      height: 100%; 
      }
    </style>
</head>
<body>
   <!-- <div class="topnav">
   <a href="main.html">STRONA GŁÓWNA</a>
   <a href="../zwyklyPath.html">DREWNIANY KOŚCIÓŁ</a>
   <a href="draw.html" class="active">RYSUJ WZORY</a>
   <a href="strojmeski.html">STRÓJ HACZOWSKI</a>
   <a href="zdjecia.html">MATERIAŁY DODATKOWE</a>
   </div>  -->
<div class="cent">
  <div id="content" style="text-align:center; padding: 0 0 0 0;" class="slider">
	  <div class="back">
		  <a href="./glowna.html">&#10094 POWRÓT NA STRONĘ GŁÓWNĄ</a>
	  </div>
  </div>
  <br>
  <fieldset id="incav">
       <canvas id="canvas"></canvas>
       <script>
        const canvas=document.getElementById("canvas");
        canvas.width=window.innerWidth-250;
        //canvas.height=570;
        canvas.height=window.innerHeight-150;

        const ctx=canvas.getContext("2d");
        ctx.fillStyle="white";
        ctx.fillRect(0,0,canvas.width,canvas.height);
        const context = canvas.getContext("2d");

        const bgImage = new Image();

        const images = [
        "photos/haft1.jpg",
        /*"photos/haft2.jpg",
        "photos/haft3.jpg",
        "photos/haft4.jpg",*/
        "photos/haft5.jpg",
        "photos/haft6.jpg",
        "photos/haft7.jpg",
        "photos/haft8.jpg",
        "photos/haft9.jpg",
        "photos/haft10.jpg",
        "photos/haft11.jpg",
        "photos/haft12.jpg",
        "photos/haft13.jpg",
        "photos/haft14.jpg",
        "photos/haft15.jpg",
        "photos/haft16.jpg",
        "photos/haft17.jpg"
        ];

        // Pick random image
        const randomIndex = Math.floor(Math.random() * images.length);
        const selectedImage = images[randomIndex];
        bgImage.src=selectedImage;
        bgImage.onload = function () {
        // Draw image once (not repeating)
        context.drawImage(bgImage, 0, 0, canvas.width, canvas.height);
      };

      //metoda na obsluge dotykiem canvas

        let is_drawing=false;
        //let draw_color="white";
        //let draw_width="2";
        let x = 0;
        let y = 0;
        var offsetX;
        var offsetY;


        function startup() {
            canvas.addEventListener('touchstart', handleStart);
            canvas.addEventListener('touchend', handleEnd);
            canvas.addEventListener('touchcancel', handleCancel);
            canvas.addEventListener('touchmove', handleMove);
            canvas.addEventListener('mousedown',(e)=>{
              x = e.offsetX;
              y = e.offsetY;
              isDrawing = true;});

            canvas.addEventListener('mousemove',(e)=>{
              if (isDrawing) {
                drawLine(context,x,y,e.offsetX,e.offsetY);
                x = e.offsetX;
                y = e.offsetY;}});

            canvas.addEventListener('mouseup',(e)=>{
              if (isDrawing) {
                drawLine(context,x,y,e.offsetX,e.offsetY);
                x = 0;
                y = 0;
                isDrawing = false;}});
          }

          document.addEventListener("DOMContentLoaded", startup);

          const ongoingTouches = [];

          function handleStart(evt){
            evt.preventDefault();
            const touches=evt.changedTouches;
            offsetX=canvas.getBoundingClientRect().left;
            offsetY=canvas.getBoundingClientRect().top;
            for (let i=0; i<touches.length; i++) {
              ongoingTouches.push(copyTouch(touches[i]));
            }
          }

          function handleMove(evt){
            evt.preventDefault();
            const touches=evt.changedTouches;
            for (let i=0; i<touches.length; i++){
              const draw_color=document.getElementById('col1').value;
              //const draw_color=green;
              const idx=ongoingTouchIndexById(touches[i].identifier);
              if (idx>=0){
                context.beginPath();
                context.moveTo(ongoingTouches[idx].clientX - offsetX, ongoingTouches[idx].clientY - offsetY);
                context.lineTo(touches[i].clientX - offsetX, touches[i].clientY - offsetY);
                context.lineWidth=document.getElementById('wid1').value;
                context.strokeStyle=draw_color;
                context.lineJoin="round";
                context.closePath();
                context.stroke();
                ongoingTouches.splice(idx, 1, copyTouch(touches[i]));
              }
            }
          }

          function handleEnd(evt){
            evt.preventDefault();
            const touches=evt.changedTouches;
            for (let i=0; i<touches.length; i++){
              const draw_color=document.getElementById('col1').value;
              //const draw_color=green;
              let idx=ongoingTouchIndexById(touches[i].identifier);
              if (idx>=0){
                context.lineWidth=document.getElementById('wid1').value;
                context.fillStyle=draw_color;
                ongoingTouches.splice(idx, 1);
              }
            }
          }

          function handleCancel(evt){
            evt.preventDefault();
            const touches=evt.changedTouches;
            for (let i=0; i<touches.length; i++){
              let idx=ongoingTouchIndexById(touches[i].identifier);
              ongoingTouches.splice(idx,1);
            }
          }

          function copyTouch({identifier,clientX,clientY}){
            return {identifier,clientX,clientY};
          }

          function ongoingTouchIndexById(idToFind){
            for (let i=0; i<ongoingTouches.length; i++){
              const id=ongoingTouches[i].identifier;
              if (id===idToFind){
                return i;
              }
            }
            return -1;
          }

          function drawLine(context,x1,y1,x2,y2){
            context.beginPath();
            context.strokeStyle=document.getElementById('col1').value;
            context.lineWidth=1;
            context.lineJoin="round";
            context.linecap="round";
            context.moveTo(x1,y1);
            context.lineTo(x2,y2);
            context.closePath();
            context.stroke();

            context.beginPath();
            context.strokeStyle=document.getElementById('col1').value;
            context.lineWidth=document.getElementById('wid1').value;
            //context.lineJoin="round";
            //context.linecap="round";
            context.moveTo(x1,y1);
            context.lineTo(x2,y2);
            //context.closePath();
            context.stroke();
          }
/*
        canvas.addEventListener("touchstart", start, false);
        canvas.addEventListener("touchmove", draw, false);
        canvas.addEventListener("mousedown", start, false);
        canvas.addEventListener("mousemove", draw, false);

        canvas.addEventListener("touchend", stop, false);
        canvas.addEventListener("mouseup", stop, false);
        canvas.addEventListener("mouseout", stop, false);

        function start(event){
          is_drawing=true;
          context.beginPath();
          context.moveTo(event.clientX - canvas.offsetLeft,event.clientY - canvas.offsetTop);
          //context.moveTo(event.clientX - canvas.offsetX,event.clientY);
          event.preventDefault();
        }
        
        function draw(event){
          if (is_drawing){
            context.lineTo(event.clientX - canvas.offsetLeft,event.clientY - canvas.offsetTop);
            //context.lineTo(event.clientX - canvas.offsetX,event.clientY);
            context.strokeStyle="rgb(240,240,240)";
            context.lineWidth=1+draw_width;
            context.linecap="round";
            context.lineJoin="round";
            context.stroke();
            
            context.strokeStyle=draw_color;
            context.lineWidth=draw_width;
            context.linecap="round";
            context.lineJoin="round";
            context.stroke();
          }
          event.preventDefault();
        }

        function stop(event){
          if (is_drawing){
            context.stroke();
            context.closePath();
            is_drawing=false;
          }
          event.preventDefault();
        }*/
       </script>

       <div class="tools">
          <button onClick="clear_canvas()" type="button" class="button">wyczyść</button>
          
          <!-- <div id="col1" onClick="change_color(this)" class="color-field" style="background: rgb(247, 243, 14);"></div>
          <div id="col1" onClick="change_color(this)" class="color-field" style="background: rgb(191, 191, 191);"></div>
          <div id="col1" onClick="change_color(this)" class="color-field" style="background: rgb(233, 232, 232);"></div>
           -->
          <input id="col1" onInput="draw_color=this.value" type="color" class="color-picker">

          <input id="wid1" type="range" min="1" max="15" value="2" class="pen-range">
          <button style="align-self:left;" type="button" class="button" onClick="window.location.reload();">wczytaj haft</button>
          <button id="pobierz" type="button" class="button">pobierz</button>
          <script>
            function change_color(element){
              draw_color=element.style.background;
            }
            function clear_canvas(){
              context.fillStyle="white";
              context.clearRect(0,0,canvas.width,canvas.height);
              context.fillRect(0,0,canvas.width,canvas.height);
              ctx.drawImage(bgImage, 0, 0, canvas.width, canvas.height);
            }

            const bpobierz=document.querySelector('#pobierz');
            bpobierz.addEventListener("click", function(){
              //const dataURI=canvas.toDataURL("image/jpeg");
              //imgConvertedsrc=dataURI;
              if (window.navigator.msSaveBlob){
                window.navigator.msSaveBlob(canvas.msToBlob(), "haft.png");
              }
              else{
                const a=document.createElement("a");

                document.body.appendChild(a);
                a.href=canvas.toDataURL("image/jpeg");
                a.download="haft.jpg";
                a.click();
                document.body.removeChild(a);
              }
            });
          </script>
        </div>
  </fieldset>
  <br>
</div>
<br>
</body>
</html>