<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haczów - biblioteka</title>
    <link rel="stylesheet" href="style2.css">
    <style>
      .container {
        position: relative;
      }
      .imageOne{
        height: 800px;
        width: 500px;
      }
      .imageTwo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 800px;
        width: 500px;
      }

      .vid {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
</head>
<body>
  <br>
<div class="cent">
  <div id="content" style="text-align:center;" class="slider">
	<div class="back">
		<a href="./glowna.html">&#10094 POWRÓT NA STRONĘ GŁÓWNĄ</a>
	</div>
  </div>
  <fieldset>
  <legend><h3>prof. Marian Adam Konieczny</h3></legend>
  <div class="vid">
    <video width="1280" height="720" controlsList="nodownload" oncontextmenu="return false;" controls>
        <source src="./movies/historia/koniecznykiosk.mp4" type="video/mp4">
    </video>
  </div>
  <br>
  </fieldset>
    <br>

</div>
</body>
</html>