<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haczów - biblioteka</title>
    <link rel="stylesheet" href="style2.css">
    <style>
      .container {
        position: relative;
      }
      .imageOne{
        height: 800px;
        width: 500px;
      }
      .imageTwo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 800px;
        width: 500px;
      }

      .vid {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
</head>
<body>
  <br>
     <!-- <h1>Biblioteka w Haczowie - kiosk multimedialny</h1>
   <div class="topnav">
   <a href="main.html">STRONA GŁÓWNA</a>
   <a href="../zwyklyPath.html">DREWNIANY KOŚCIÓŁ</a>
   <a href="draw.html">RYSUJ WZORY</a>
   <a href="strojmeski.html" class="active">STRÓJ HACZOWSKI</a>
   <a href="zdjecia.html">MATERIAŁY DODATKOWE</a>
   </div> 
   </div> -->
<div class="cent">
  <div id="content" style="text-align:center;" class="slider">
	<div class="back">
		<a href="./glowna.html">&#10094 POWRÓT NA STRONĘ GŁÓWNĄ</a>
	</div>
  </div>
  <fieldset>
  <legend><h3>Cymbały strunowe</h3></legend>
  <div class="vid">
    <video width="1280" height="720" controlsList="nodownload" oncontextmenu="return false;" controls>
        <source src="./movies/instruments/cymbalystrunowe.mp4" type="video/mp4">
    </video>
  </div>
  <br>
  </fieldset>
    <br>

  <fieldset>
  <legend><h3>Lira basowa</h3></legend>
  <div class="vid">
    <video width="1280" height="720" controlsList="nodownload" oncontextmenu="return false;" controls>
        <source src="./movies/instruments/lirabasowa.mp4" type="video/mp4">
    </video>
  </div>
  <br>
  </fieldset>
    <br>

      <fieldset>
  <legend><h3>Lira korbowa</h3></legend>
  <div class="vid">
    <video width="1280" height="720" controlsList="nodownload" oncontextmenu="return false;" controls>
        <source src="./movies/instruments/lirakorbowa.mp4" type="video/mp4">
    </video>
  </div>
  <br>
  </fieldset>
    <br>

      <fieldset>
  <legend><h3>Organistrum</h3></legend>
  <div class="vid">
    <video width="1280" height="720" controlsList="nodownload" oncontextmenu="return false;" controls >
        <source src="./movies/instruments/organistrum.mp4" type="video/mp4">
    </video>
  </div>
  <br>
  </fieldset>
    <br>

      <fieldset>
  <legend><h3>Psałterion</h3></legend>
  <div class="vid">
    <video width="1280" height="720" controlsList="nodownload" oncontextmenu="return false;" controls >
        <source src="./movies/instruments/psalterion.mp4" type="video/mp4">
    </video>
  </div>
  <br>
  </fieldset>
    <br>

      <fieldset>
  <legend><h3>Skrzypce laskowe</h3></legend>
  <div class="vid">
    <video width="1280" height="720" controlsList="nodownload" oncontextmenu="return false;" controls>
        <source src="./movies/instruments/skrzypcelaskowe.mp4" type="video/mp4">
    </video>
  </div>
  <br>
  </fieldset>
    <br>

      <fieldset>
  <legend><h3>Surdynka</h3></legend>
  <div class="vid">
    <video width="1280" height="720" controlsList="nodownload" oncontextmenu="return false;" controls>
        <source src="./movies/instruments/surdynka.mp4" type="video/mp4">
    </video>
  </div>
  <br>
  </fieldset>
    <br>


</div>
</body>
</html>