<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haczów - biblioteka</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <h1>Drewniany kościół w Jasienicy Rosielnej</h1>
   <div class="topnav">
   <a href="main.html" class="active">STRONA GŁÓWNA</a>
   <a href="../zwyklyPath.html">KOŚCIÓŁ – ŚCIEŻKA</a>
   <a href="../oponaPath.html">OPONA – ŚCIEŻKA</a>
   <a href="../grobPath.html">GRÓB – ŚCIEŻKA</a>
   <a href="../cmentarzPath.html">CMENTARZ – ŚCIEŻKA</a>
   <a href="zdjecia.html">MATERIAŁY DODATKOWE</a>
   <a href="draw.html">RYSUJ WZORY</a>
   </div> 
   </div>
<div class="cent">
  <br>
  <fieldset>
  <legend><h3>Drewniany kościół w Jasienicy Rosielnej</h3></legend>
  <br>
  <img src="photos/nastron.jpg" alt="widok na drewniany kościół w Jasienicy Rosielnej od strony plebanii" class="center">
  <div style="text-align:center; font-size:large">
    <p>widok na kościół od strony plebanii</p>
  </div>
    <div class="incent2">
      
              <h2>O KOŚCIELE</h2>
              Drewniany kościół w Jasienicy Rosielnej (Pogórze Dynowskie) 
              to wyjątkowy zabytek Podkarpacia. Nadal praktykowane 
              są w nim unikatowe obrzędy związane z Wielkim Postem.

              Został wzniesiony w 1770 roku z fundacji Ignacego i Marianny 
              Załuskich, odnawiany kilkukrotnie w XIX oraz XX wieku.

              Wzorowany był na dawnej, nieistniejącej już farze dubieckiej,
              budowany w konwencji sakralnego budownictwa barokowego 
              na terenie Małopolski. Ściany zewnętrzne wykonane zostały
              w konstrukcji zrębowej z ociosanych na kant bierwion jodłowych,
              wiązanych na zamki ciesielskie bez ostatków.
              Spoczywają one na dębowej podwalinie, której bazę stanowi 
              kamienne podmurowanie, pokryte od zewnątrz wapiennym tynkiem. 

              Według myśli średniowiecznej, konstrukcja składa się z dwóch 
              członów: prostokątnego prezbiterium, od wschodu zamkniętego 
              trójbocznie i znacznie szerszego, założonego na rzucie zbliżonym
              do kwadratu korpusu nawowego. Pod kościołem istniały, obecnie 
              niedostępne, krypty grobowe. Po bokach prezbiterium 
              mieszczą się dwie symetryczne przybudówki: zakrystia i składzik.

              Trójwieżowy prospekt organowy pochodzi z XVIII w.,
              umieszczony jest w centralnej części chóru. 
              Poddano go przebudowie w 1926 roku.

              Na wieży południowej umieszczony jest oryginalny zegar z 1810 roku.

              W ołtarzu głównym znajduje się obraz Koronacji Matki Boskiej 
              z XVII wieku, przesłaniany zasuwą z wizerunkiem Matki Boskiej 
              Niepokalanie Poczętej z przełomu XVIII i XIX w., a w bocznych 
              – obrazy św. Antoniego (ołtarz lewy, dodatkowo motywy Świętej
              Rodziny w zwieńczeniu i Serca Pana Jezusa w predelli) 
              i św. Onufrego (ołtarz prawy, dodatkowo wizerunki św. Franciszka
              i Serca Matki Boskiej, analogicznie do lewego). 

              Współczesna ołtarzom jest ambona. Jej konstrukcję wypełnia 
              snycerski ornament rokokowy. Na baldachimie ambony znajduje się
              figura Matki Boskiej.

              Ściany świątyni zdobią portrety jej fundatorów oraz liczne
              epitafia poświęcone członkom rodziny Załuskich. 

              Na ścianie międzywieżowej kruchty znajduje się nadpalony
              krucyfiks, ocalały z pożaru kościoła cmentarnego w 1970 roku. 

              Strop świątyni, jak również ściany, zdobi wielokrotnie 
              przemalowywana na przestrzeni lat iluzjonistyczna polichromia
              pochodząca z 1870 roku, oryginalnie autorstwa Jana Tabińskiego.
              Niestety, malowana dekoracja ścian przysłoniła pierwotne
              (aktualnie widoczne) zacheuszki.
                
              Stacje drogi krzyżowej, wiszące na ścianach świątyni,
              również zostały namalowane przez Jana Tabińskiego.

              Do ogrodzenia świątyni przylega murowana kaplica 
              Matki Boskiej Niepokalanie Poczętej, pochodząca z XIX wieku. 

              Wartości historycznej kościołowi dodaje również rokokowe
              snycerskie wyposażenie ruchome, pochodzące sprzed 1790 roku.

              <h2>OPONA</h2>
              W okresie Wielkiego Postu, w jasienickim drewnianym kościele 
              zostaje wystawiona “opona”, czyli płótno zakrywające 
              retabulum ołtarza głównego. Widnieje na nim olejne malowidło
              przedstawiające ukrzyżowanie Chrystusa, wraz z Matką Boską,
              św. Janem i św. Marią Magdaleną stojącymi pod krzyżem 
              na tle Jerozolimy. Na namalowanych filarach ukazane zostały 
              narzędzia  Męki Pańskiej. 

              Opona na ołtarzu wieszana jest przed Środą Popielcową,
              gdzie wisi do Wielkiego Czwartku.

              <h2>GRÓB PAŃSKI</h2>
              Parafianie wprowadzają do kościoła Boży Grób w Wielki Piątek.
              Zakrywa on retabulum ołtarza głównego. Aktualna dekoracja 
              nie istniała przed 1790 rokiem. 

              Iluzjonistyczny Grób Jezusa składa się z połączonych elementów
              na kształt kulis, znajdujących się na drewnianej konstrukcji,
              której głównym elementem jest poprzeczna belka, rozpięta 
              na całą szerokość prezbiterium. Górną część dekoracji 
              stanowi malowidło przedstawiające Boga Ojca przyjmującego ciało
              zmarłego Jezusa.

              Boczne skrzydła przedstawiają Matkę Boską, św. Marię Magdalenę,
              Józefa z Arymatei i Nikodema oraz dwóch żołnierzy rzymskich.

              Centralna część dekoracji przedstawia Jezusa w grobie. 
              Jest ona umieszczona za trzema kulisami, które mają na celu 
              stworzenie efektu głębi. Widnieje tam obraz dwóch aniołów
              adorujących Najświętszy Sakrament, ustawiany na tle tabernakulum.

              Zachowana w jasienickim kościele dekoracja grobu jest jedyną taką
              w południowo-wschodniej Polsce.
<br>
</div>
</fieldset>
</div>
<br>
</body>
</html>