<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haczów - biblioteka</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <h1>Biblioteka w Haczowie - kiosk multimedialny</h1>
   <div class="topnav">
   <a href="main.html" class="active">STRONA GŁÓWNA</a>
   <a href="../zwyklyPath.html">DREWNIANY KOŚCIÓŁ</a>
   <a href="draw.html">RYSUJ WZORY</a>
   <a href="strojmeski.html">STRÓJ HACZOWSKI</a>
   <a href="zdjecia.html">MATERIAŁY DODATKOWE</a>
   </div> 
   </div>
<div class="cent">
  <br>
  <fieldset>
  <legend><h3>Historia biblioteki</h3></legend>
  <br>
  <div class="incent2">
      
              <h2>Historia i Rola Biblioteki w Haczowie</h2>
              Pierwotne źródła dotyczące historii powstania biblioteki w Haczowie odnaleźć można w monografii autorstwa Zygmunta Jaślara. W swojej publikacji autor wspomina, że w 1897 roku w miejscowości Haczów została założona Czytelnia Ludowa, której inicjatorami byli Kazimierz Widota, Michał Szuber oraz Andrzej Matusz. Niestety, brak jest informacji na temat zawartości oraz liczby księgozbioru, którym wówczas dysponowała placówka, a także charakteru jej działalności. Wiadomo natomiast, że Czytelnia Ludowa z czasem zaprzestała działalności, nie pozostawiając po sobie trwałego śladu.

Warto jednak zaznaczyć, że informacje zawarte w pracy Zygmunta Jaślara bazują w dużej mierze na przekazach ustnych, co może rodzić pewne nieścisłości w zakresie faktografii. Niemniej jednak, idea stworzenia biblioteki okazała się potrzebna i zasadne było jej ponowne uruchomienie. Świadczy o tym fakt, że po zakończeniu I wojny światowej, w 1918 roku, Czytelnia Ludowa została reaktywowana przez ówczesnego sekretarza gminy, Jana Jaślara. Nowo powstała placówka otrzymała wsparcie finansowe oraz zasoby książkowe od rodaków mieszkających w Stanach Zjednoczonych. W tym czasie księgozbiór liczył około 1000 woluminów, a z usług czytelni korzystało 270 zarejestrowanych użytkowników. Jak wynika z zapisków, biblioteka dynamicznie się rozwijała, przynosząc korzyści zwłaszcza młodzieży, której zawsze towarzyszyła silna potrzeba zdobywania wiedzy i rozwijania się intelektualnie.

Zniszczenia II wojny światowej w znacznym stopniu wpłynęły na dalsze losy biblioteki. Choć trudno precyzyjnie określić datę jej powojennej reaktywacji, przypuszcza się, że miało to miejsce w 1950 roku. Wówczas biblioteka funkcjonowała jako Biblioteka Gromadzka – samodzielna instytucja kultury i oświaty, niezależna od szkoły. Jej siedziba mieściła się w dawnej organistówce, a księgozbiór obejmował 5600 woluminów, z których korzystało 390 zarejestrowanych czytelników. Funkcję kierownika pełnił wówczas emerytowany nauczyciel, pan Toczek.

W 1973 roku biblioteka uzyskała status Gminnej Biblioteki Publicznej, a na jej czele stanęła Stefania Szmyd. Od tego czasu placówka kilkukrotnie zmieniała swoją lokalizację, co miało znaczący wpływ na jej rozwój. Sukcesywnie powiększano księgozbiór, dbano o nowoczesne wyposażenie, zakup mebli bibliotecznych oraz zapewnienie odpowiednich warunków do korzystania z zasobów.

Ponad 65-letnia działalność biblioteki stanowi dowód nie tylko na jej znaczenie dla lokalnej społeczności, ale także na zaangażowanie wielu osób, które troszczyły się zarówno o rozwój placówki, jak i popularyzację czytelnictwa. Dzięki ich wysiłkom biblioteka stała się miejscem upowszechniania dorobku intelektualnego, zgodnie z ideą książki jako nośnika myśli ludzkiej utrwalonej na materialnym medium.

Od 2001 roku Gminna Biblioteka Publiczna w Haczowie działa jako samodzielna instytucja kultury, stanowiąc część ogólnokrajowej sieci bibliotek publicznych. Jej główna siedziba mieści się w budynku Gminnego Ośrodka Kultury w Haczowie, a działalność biblioteczna jest realizowana także w pięciu filiach zlokalizowanych w Malinówce, Jabłonicy Polskiej, Jasionowie, Trześniowie oraz Wzdowie. Podstawowym celem biblioteki jest rozwijanie i zaspokajanie potrzeb kulturalnych, edukacyjnych i informacyjnych mieszkańców poprzez gromadzenie, opracowywanie oraz udostępnianie księgozbioru.

Lata 2001–2015 były okresem intensywnej komputeryzacji i wdrażania nowoczesnych technologii informacyjnych. W ramach tych działań każda filia biblioteki została wyposażona w czytelnię komputerową z bezpłatnym dostępem do Internetu. Jednym z priorytetowych przedsięwzięć była również digitalizacja księgozbioru oraz jego udostępnienie w formie katalogu online, co znacząco ułatwiło mieszkańcom dostęp do zasobów biblioteki.

Dziś Gminna Biblioteka Publiczna w Haczowie to nie tylko miejsce wypożyczania książek, ale także instytucja pełniąca istotną rolę w środowisku lokalnym. Organizuje liczne wydarzenia kulturalne, spotkania autorskie, warsztaty dla dzieci i dorosłych, a także wspiera edukację i przeciwdziała wykluczeniu cyfrowemu. Jej dynamiczny rozwój świadczy o nieustannej trosce o czytelnictwo i kulturę w regionie, czyniąc ją ważnym centrum życia intelektualnego mieszkańców gminy Haczów.

<br>
</div>
</fieldset>
</div>
<br>
</body>
</html>